--
-- PostgreSQL database dump
--

\restrict GzFIkg3HMPpW1Xc1t6MR2beMqObWuTPC5jQdySIf3DWqTqWXN23OV2VpOg4LKdQ

-- Dumped from database version 17.5 (6bc9ef8)
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_session_jwt; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_session_jwt WITH SCHEMA public;


--
-- Name: EXTENSION pg_session_jwt; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_session_jwt IS 'pg_session_jwt: manage authentication sessions using JWTs';


--
-- Name: neon_auth; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA neon_auth;


ALTER SCHEMA neon_auth OWNER TO neondb_owner;

--
-- Name: pgrst; Type: SCHEMA; Schema: -; Owner: neondb_owner
--

CREATE SCHEMA pgrst;


ALTER SCHEMA pgrst OWNER TO neondb_owner;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: pre_config(); Type: FUNCTION; Schema: pgrst; Owner: neondb_owner
--

CREATE FUNCTION pgrst.pre_config() RETURNS void
    LANGUAGE sql
    AS $$
  SELECT
      set_config('pgrst.db_schemas', 'public', true)
    , set_config('pgrst.db_aggregates_enabled', 'true', true)
    , set_config('pgrst.db_anon_role', 'anonymous', true)
    , set_config('pgrst.jwt_role_claim_key', '."role"', true)
$$;


ALTER FUNCTION pgrst.pre_config() OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users_sync; Type: TABLE; Schema: neon_auth; Owner: neondb_owner
--

CREATE TABLE neon_auth.users_sync (
    raw_json jsonb NOT NULL,
    id text GENERATED ALWAYS AS ((raw_json ->> 'id'::text)) STORED NOT NULL,
    name text GENERATED ALWAYS AS ((raw_json ->> 'display_name'::text)) STORED,
    email text GENERATED ALWAYS AS ((raw_json ->> 'primary_email'::text)) STORED,
    created_at timestamp with time zone GENERATED ALWAYS AS (to_timestamp((trunc((((raw_json ->> 'signed_up_at_millis'::text))::bigint)::double precision) / (1000)::double precision))) STORED,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone
);


ALTER TABLE neon_auth.users_sync OWNER TO neondb_owner;

--
-- Name: ammo_movements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.ammo_movements (
    id integer NOT NULL,
    execution_id integer NOT NULL,
    ammo_id integer NOT NULL,
    delta integer NOT NULL,
    before_qty integer NOT NULL,
    after_qty integer NOT NULL
);


ALTER TABLE public.ammo_movements OWNER TO neondb_owner;

--
-- Name: ammo_movements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.ammo_movements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ammo_movements_id_seq OWNER TO neondb_owner;

--
-- Name: ammo_movements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.ammo_movements_id_seq OWNED BY public.ammo_movements.id;


--
-- Name: ammunition; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.ammunition (
    id integer NOT NULL,
    ammo_name character varying(255) NOT NULL,
    ammo_category character varying(255) NOT NULL,
    quantity integer NOT NULL,
    storage_locker character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    last_change timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text
);


ALTER TABLE public.ammunition OWNER TO neondb_owner;

--
-- Name: ammunition_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.ammunition_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ammunition_id_seq OWNER TO neondb_owner;

--
-- Name: ammunition_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.ammunition_id_seq OWNED BY public.ammunition.id;


--
-- Name: approvals; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.approvals (
    id integer NOT NULL,
    request_id integer NOT NULL,
    approver_id integer NOT NULL,
    decision character varying(10) NOT NULL,
    reason text,
    decided_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT approvals_decision_check CHECK (((decision)::text = ANY ((ARRAY['APPROVE'::character varying, 'REJECT'::character varying, 'REOPEN'::character varying])::text[])))
);


ALTER TABLE public.approvals OWNER TO neondb_owner;

--
-- Name: approvals_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.approvals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.approvals_id_seq OWNER TO neondb_owner;

--
-- Name: approvals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.approvals_id_seq OWNED BY public.approvals.id;


--
-- Name: duty_assignments; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.duty_assignments (
    id integer NOT NULL,
    roster_id integer NOT NULL,
    post_id integer NOT NULL,
    shift_id integer NOT NULL,
    slot_no integer NOT NULL,
    personnel_id integer,
    firearm_id integer,
    ammo_category character varying(100),
    ammo_qty integer,
    sign_by integer,
    sign_at timestamp with time zone,
    signature text,
    CONSTRAINT duty_assignments_slot_no_check CHECK ((slot_no > 0))
);


ALTER TABLE public.duty_assignments OWNER TO neondb_owner;

--
-- Name: duty_assignments_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.duty_assignments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duty_assignments_id_seq OWNER TO neondb_owner;

--
-- Name: duty_assignments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.duty_assignments_id_seq OWNED BY public.duty_assignments.id;


--
-- Name: duty_posts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.duty_posts (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    slot_count integer DEFAULT 1 NOT NULL,
    requires_firearm boolean DEFAULT true NOT NULL,
    requires_ammo boolean DEFAULT true NOT NULL,
    default_ammo_category character varying(100),
    default_ammo_qty integer,
    active boolean DEFAULT true NOT NULL,
    notes text,
    schedule_template character varying(30),
    CONSTRAINT duty_posts_schedule_template_check CHECK (((schedule_template)::text = ANY ((ARRAY['SENTRY_2H_24H'::character varying, 'AMMO_2H_16_08'::character varying, 'SITROOM_3x8'::character varying])::text[]))),
    CONSTRAINT duty_posts_slot_count_check CHECK ((slot_count > 0))
);


ALTER TABLE public.duty_posts OWNER TO neondb_owner;

--
-- Name: duty_posts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.duty_posts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duty_posts_id_seq OWNER TO neondb_owner;

--
-- Name: duty_posts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.duty_posts_id_seq OWNED BY public.duty_posts.id;


--
-- Name: duty_requests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.duty_requests (
    id integer NOT NULL,
    assignment_id integer NOT NULL,
    phase character varying(20) NOT NULL,
    request_id integer NOT NULL,
    CONSTRAINT duty_requests_phase_check CHECK (((phase)::text = ANY ((ARRAY['DISPATCH'::character varying, 'RETURN'::character varying])::text[])))
);


ALTER TABLE public.duty_requests OWNER TO neondb_owner;

--
-- Name: duty_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.duty_requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duty_requests_id_seq OWNER TO neondb_owner;

--
-- Name: duty_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.duty_requests_id_seq OWNED BY public.duty_requests.id;


--
-- Name: duty_rosters; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.duty_rosters (
    id integer NOT NULL,
    duty_date date NOT NULL,
    status character varying(20) DEFAULT 'DRAFT'::character varying NOT NULL,
    auto_approve boolean DEFAULT true NOT NULL,
    auto_execute boolean DEFAULT true NOT NULL,
    created_by integer NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    notes text,
    CONSTRAINT duty_rosters_status_check CHECK (((status)::text = ANY ((ARRAY['DRAFT'::character varying, 'PUBLISHED'::character varying, 'LOCKED'::character varying, 'COMPLETED'::character varying])::text[])))
);


ALTER TABLE public.duty_rosters OWNER TO neondb_owner;

--
-- Name: duty_rosters_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.duty_rosters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duty_rosters_id_seq OWNER TO neondb_owner;

--
-- Name: duty_rosters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.duty_rosters_id_seq OWNED BY public.duty_rosters.id;


--
-- Name: duty_shifts; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.duty_shifts (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    notes text
);


ALTER TABLE public.duty_shifts OWNER TO neondb_owner;

--
-- Name: duty_shifts_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.duty_shifts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.duty_shifts_id_seq OWNER TO neondb_owner;

--
-- Name: duty_shifts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.duty_shifts_id_seq OWNED BY public.duty_shifts.id;


--
-- Name: execution_events; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.execution_events (
    id integer NOT NULL,
    request_id integer NOT NULL,
    executed_by integer NOT NULL,
    executed_at timestamp with time zone DEFAULT now() NOT NULL,
    event_type character varying(20) NOT NULL,
    notes text,
    CONSTRAINT execution_events_event_type_check CHECK (((event_type)::text = ANY ((ARRAY['DISPATCH'::character varying, 'RETURN'::character varying])::text[])))
);


ALTER TABLE public.execution_events OWNER TO neondb_owner;

--
-- Name: execution_events_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.execution_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.execution_events_id_seq OWNER TO neondb_owner;

--
-- Name: execution_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.execution_events_id_seq OWNED BY public.execution_events.id;


--
-- Name: firearm_status_changes; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.firearm_status_changes (
    id integer NOT NULL,
    execution_id integer NOT NULL,
    firearm_id integer NOT NULL,
    from_status character varying(50) NOT NULL,
    to_status character varying(50) NOT NULL
);


ALTER TABLE public.firearm_status_changes OWNER TO neondb_owner;

--
-- Name: firearm_status_changes_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.firearm_status_changes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.firearm_status_changes_id_seq OWNER TO neondb_owner;

--
-- Name: firearm_status_changes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.firearm_status_changes_id_seq OWNED BY public.firearm_status_changes.id;


--
-- Name: firearms; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.firearms (
    id integer NOT NULL,
    owner_id integer,
    firearm_type character varying(255) NOT NULL,
    firearm_number character varying(255) NOT NULL,
    storage_locker character varying(255) NOT NULL,
    status character varying(50) NOT NULL,
    last_change timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text
);


ALTER TABLE public.firearms OWNER TO neondb_owner;

--
-- Name: firearms_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.firearms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.firearms_id_seq OWNER TO neondb_owner;

--
-- Name: firearms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.firearms_id_seq OWNED BY public.firearms.id;


--
-- Name: fp_templates; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.fp_templates (
    sensor_id integer NOT NULL,
    person_id integer NOT NULL,
    site text DEFAULT 'default'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    last_enrolled timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.fp_templates OWNER TO neondb_owner;

--
-- Name: personnel; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.personnel (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    rank character varying(50) NOT NULL,
    military_id character varying(50) NOT NULL,
    unit character varying(255) NOT NULL,
    "position" character varying(255) NOT NULL,
    user_id character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    is_admin boolean DEFAULT false,
    contact character varying(50),
    last_modified timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    notes text,
    fingerprint_id integer,
    CONSTRAINT chk_fingerprint_id_min CHECK ((fingerprint_id > 9))
);


ALTER TABLE public.personnel OWNER TO neondb_owner;

--
-- Name: personnel_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.personnel_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personnel_id_seq OWNER TO neondb_owner;

--
-- Name: personnel_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.personnel_id_seq OWNED BY public.personnel.id;


--
-- Name: request_items; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.request_items (
    id integer NOT NULL,
    request_id integer NOT NULL,
    item_type character varying(10) NOT NULL,
    firearm_id integer,
    ammo_id integer,
    ammo_category character varying(255),
    quantity integer,
    CONSTRAINT request_items_item_type_check CHECK (((item_type)::text = ANY ((ARRAY['FIREARM'::character varying, 'AMMO'::character varying])::text[])))
);


ALTER TABLE public.request_items OWNER TO neondb_owner;

--
-- Name: request_items_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.request_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.request_items_id_seq OWNER TO neondb_owner;

--
-- Name: request_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.request_items_id_seq OWNED BY public.request_items.id;


--
-- Name: requests; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.requests (
    id integer NOT NULL,
    requester_id integer NOT NULL,
    request_type character varying(20) NOT NULL,
    purpose character varying(50) NOT NULL,
    location character varying(100) NOT NULL,
    scheduled_at timestamp with time zone,
    status character varying(20) DEFAULT 'SUBMITTED'::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    notes text,
    status_reason text,
    CONSTRAINT requests_request_type_check CHECK (((request_type)::text = ANY ((ARRAY['DISPATCH'::character varying, 'RETURN'::character varying])::text[]))),
    CONSTRAINT requests_status_check CHECK (((status)::text = ANY ((ARRAY['SUBMITTED'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying, 'EXECUTED'::character varying, 'CANCELLED'::character varying])::text[])))
);


ALTER TABLE public.requests OWNER TO neondb_owner;

--
-- Name: requests_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.requests_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.requests_id_seq OWNER TO neondb_owner;

--
-- Name: requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.requests_id_seq OWNED BY public.requests.id;


--
-- Name: v_open_request_items; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_open_request_items AS
 SELECT ri.id,
    ri.request_id,
    ri.item_type,
    ri.firearm_id,
    ri.ammo_id,
    ri.ammo_category,
    ri.quantity
   FROM (public.request_items ri
     JOIN public.requests r ON ((r.id = ri.request_id)))
  WHERE ((r.status)::text = ANY ((ARRAY['SUBMITTED'::character varying, 'APPROVED'::character varying])::text[]));


ALTER VIEW public.v_open_request_items OWNER TO neondb_owner;

--
-- Name: v_ammo_reserved; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_ammo_reserved AS
 SELECT v_open_request_items.ammo_id,
    (sum(v_open_request_items.quantity))::integer AS reserved_qty
   FROM (public.v_open_request_items
     JOIN public.requests r ON ((r.id = v_open_request_items.request_id)))
  WHERE (((v_open_request_items.item_type)::text = 'AMMO'::text) AND ((r.request_type)::text = 'DISPATCH'::text))
  GROUP BY v_open_request_items.ammo_id;


ALTER VIEW public.v_ammo_reserved OWNER TO neondb_owner;

--
-- Name: v_ammo_available; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_ammo_available AS
 SELECT a.id,
    a.ammo_name,
    a.ammo_category,
    a.quantity,
    GREATEST((a.quantity - COALESCE(r.reserved_qty, 0)), 0) AS available
   FROM (public.ammunition a
     LEFT JOIN public.v_ammo_reserved r ON ((r.ammo_id = a.id)));


ALTER VIEW public.v_ammo_available OWNER TO neondb_owner;

--
-- Name: v_execution_summary; Type: VIEW; Schema: public; Owner: neondb_owner
--

CREATE VIEW public.v_execution_summary AS
 SELECT e.id AS execution_id,
    e.event_type,
    e.executed_at,
    e.executed_by,
    p.name AS executed_by_name,
    e.request_id,
    e.notes
   FROM (public.execution_events e
     LEFT JOIN public.personnel p ON ((p.id = e.executed_by)));


ALTER VIEW public.v_execution_summary OWNER TO neondb_owner;

--
-- Name: ammo_movements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammo_movements ALTER COLUMN id SET DEFAULT nextval('public.ammo_movements_id_seq'::regclass);


--
-- Name: ammunition id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammunition ALTER COLUMN id SET DEFAULT nextval('public.ammunition_id_seq'::regclass);


--
-- Name: approvals id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.approvals ALTER COLUMN id SET DEFAULT nextval('public.approvals_id_seq'::regclass);


--
-- Name: duty_assignments id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments ALTER COLUMN id SET DEFAULT nextval('public.duty_assignments_id_seq'::regclass);


--
-- Name: duty_posts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_posts ALTER COLUMN id SET DEFAULT nextval('public.duty_posts_id_seq'::regclass);


--
-- Name: duty_requests id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_requests ALTER COLUMN id SET DEFAULT nextval('public.duty_requests_id_seq'::regclass);


--
-- Name: duty_rosters id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_rosters ALTER COLUMN id SET DEFAULT nextval('public.duty_rosters_id_seq'::regclass);


--
-- Name: duty_shifts id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_shifts ALTER COLUMN id SET DEFAULT nextval('public.duty_shifts_id_seq'::regclass);


--
-- Name: execution_events id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.execution_events ALTER COLUMN id SET DEFAULT nextval('public.execution_events_id_seq'::regclass);


--
-- Name: firearm_status_changes id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearm_status_changes ALTER COLUMN id SET DEFAULT nextval('public.firearm_status_changes_id_seq'::regclass);


--
-- Name: firearms id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearms ALTER COLUMN id SET DEFAULT nextval('public.firearms_id_seq'::regclass);


--
-- Name: personnel id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.personnel ALTER COLUMN id SET DEFAULT nextval('public.personnel_id_seq'::regclass);


--
-- Name: request_items id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items ALTER COLUMN id SET DEFAULT nextval('public.request_items_id_seq'::regclass);


--
-- Name: requests id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests ALTER COLUMN id SET DEFAULT nextval('public.requests_id_seq'::regclass);


--
-- Name: users_sync users_sync_pkey; Type: CONSTRAINT; Schema: neon_auth; Owner: neondb_owner
--

ALTER TABLE ONLY neon_auth.users_sync
    ADD CONSTRAINT users_sync_pkey PRIMARY KEY (id);


--
-- Name: ammo_movements ammo_movements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammo_movements
    ADD CONSTRAINT ammo_movements_pkey PRIMARY KEY (id);


--
-- Name: ammunition ammunition_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammunition
    ADD CONSTRAINT ammunition_pkey PRIMARY KEY (id);


--
-- Name: approvals approvals_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_pkey PRIMARY KEY (id);


--
-- Name: duty_assignments duty_assignments_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_pkey PRIMARY KEY (id);


--
-- Name: duty_assignments duty_assignments_roster_id_post_id_shift_id_slot_no_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_roster_id_post_id_shift_id_slot_no_key UNIQUE (roster_id, post_id, shift_id, slot_no);


--
-- Name: duty_posts duty_posts_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_posts
    ADD CONSTRAINT duty_posts_name_key UNIQUE (name);


--
-- Name: duty_posts duty_posts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_posts
    ADD CONSTRAINT duty_posts_pkey PRIMARY KEY (id);


--
-- Name: duty_requests duty_requests_assignment_id_phase_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_requests
    ADD CONSTRAINT duty_requests_assignment_id_phase_key UNIQUE (assignment_id, phase);


--
-- Name: duty_requests duty_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_requests
    ADD CONSTRAINT duty_requests_pkey PRIMARY KEY (id);


--
-- Name: duty_rosters duty_rosters_duty_date_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_rosters
    ADD CONSTRAINT duty_rosters_duty_date_key UNIQUE (duty_date);


--
-- Name: duty_rosters duty_rosters_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_rosters
    ADD CONSTRAINT duty_rosters_pkey PRIMARY KEY (id);


--
-- Name: duty_shifts duty_shifts_name_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_shifts
    ADD CONSTRAINT duty_shifts_name_key UNIQUE (name);


--
-- Name: duty_shifts duty_shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_shifts
    ADD CONSTRAINT duty_shifts_pkey PRIMARY KEY (id);


--
-- Name: execution_events execution_events_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_pkey PRIMARY KEY (id);


--
-- Name: firearm_status_changes firearm_status_changes_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearm_status_changes
    ADD CONSTRAINT firearm_status_changes_pkey PRIMARY KEY (id);


--
-- Name: firearms firearms_firearm_number_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearms
    ADD CONSTRAINT firearms_firearm_number_key UNIQUE (firearm_number);


--
-- Name: firearms firearms_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearms
    ADD CONSTRAINT firearms_pkey PRIMARY KEY (id);


--
-- Name: fp_templates fp_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fp_templates
    ADD CONSTRAINT fp_templates_pkey PRIMARY KEY (sensor_id);


--
-- Name: personnel personnel_fingerprint_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.personnel
    ADD CONSTRAINT personnel_fingerprint_id_key UNIQUE (fingerprint_id);


--
-- Name: personnel personnel_military_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.personnel
    ADD CONSTRAINT personnel_military_id_key UNIQUE (military_id);


--
-- Name: personnel personnel_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.personnel
    ADD CONSTRAINT personnel_pkey PRIMARY KEY (id);


--
-- Name: personnel personnel_user_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.personnel
    ADD CONSTRAINT personnel_user_id_key UNIQUE (user_id);


--
-- Name: request_items request_items_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items
    ADD CONSTRAINT request_items_pkey PRIMARY KEY (id);


--
-- Name: request_items request_items_request_id_item_type_firearm_id_ammo_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items
    ADD CONSTRAINT request_items_request_id_item_type_firearm_id_ammo_id_key UNIQUE (request_id, item_type, firearm_id, ammo_id);


--
-- Name: requests requests_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_pkey PRIMARY KEY (id);


--
-- Name: ammunition ux_ammunition_natural; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammunition
    ADD CONSTRAINT ux_ammunition_natural UNIQUE (ammo_name, ammo_category, storage_locker);


--
-- Name: users_sync_deleted_at_idx; Type: INDEX; Schema: neon_auth; Owner: neondb_owner
--

CREATE INDEX users_sync_deleted_at_idx ON neon_auth.users_sync USING btree (deleted_at);


--
-- Name: idx_ammo_name_cat; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ammo_name_cat ON public.ammunition USING btree (ammo_name, ammo_category);


--
-- Name: idx_ammunition_name; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ammunition_name ON public.ammunition USING btree (ammo_name);


--
-- Name: idx_approvals_req; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_approvals_req ON public.approvals USING btree (request_id);


--
-- Name: idx_exec_events_type_time; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_exec_events_type_time ON public.execution_events USING btree (event_type, executed_at DESC);


--
-- Name: idx_exec_req; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_exec_req ON public.execution_events USING btree (request_id);


--
-- Name: idx_firearms_number_trgm; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_firearms_number_trgm ON public.firearms USING gin (firearm_number public.gin_trgm_ops);


--
-- Name: idx_firearms_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_firearms_status ON public.firearms USING btree (status);


--
-- Name: idx_fp_templates_person; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX idx_fp_templates_person ON public.fp_templates USING btree (person_id);


--
-- Name: idx_request_items_reqid; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_request_items_reqid ON public.request_items USING btree (request_id);


--
-- Name: idx_requests_requester; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_requests_requester ON public.requests USING btree (requester_id);


--
-- Name: idx_requests_status; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_requests_status ON public.requests USING btree (status);


--
-- Name: idx_requests_status_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_requests_status_type ON public.requests USING btree (status, request_type);


--
-- Name: idx_requests_status_type_created; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_requests_status_type_created ON public.requests USING btree (status, request_type, created_at DESC);


--
-- Name: idx_requests_type; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_requests_type ON public.requests USING btree (request_type);


--
-- Name: idx_ri_ammo; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ri_ammo ON public.request_items USING btree (ammo_id) WHERE ((item_type)::text = 'AMMO'::text);


--
-- Name: idx_ri_ammo_open; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ri_ammo_open ON public.request_items USING btree (ammo_id) WHERE ((item_type)::text = 'AMMO'::text);


--
-- Name: idx_ri_firearm; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ri_firearm ON public.request_items USING btree (firearm_id) WHERE ((item_type)::text = 'FIREARM'::text);


--
-- Name: idx_ri_firearm_open; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ri_firearm_open ON public.request_items USING btree (firearm_id) WHERE ((item_type)::text = 'FIREARM'::text);


--
-- Name: idx_ri_req; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE INDEX idx_ri_req ON public.request_items USING btree (request_id);


--
-- Name: ux_request_items_ammo_once; Type: INDEX; Schema: public; Owner: neondb_owner
--

CREATE UNIQUE INDEX ux_request_items_ammo_once ON public.request_items USING btree (request_id, ammo_id) WHERE ((item_type)::text = 'AMMO'::text);


--
-- Name: ammo_movements ammo_movements_ammo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammo_movements
    ADD CONSTRAINT ammo_movements_ammo_id_fkey FOREIGN KEY (ammo_id) REFERENCES public.ammunition(id);


--
-- Name: ammo_movements ammo_movements_execution_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.ammo_movements
    ADD CONSTRAINT ammo_movements_execution_id_fkey FOREIGN KEY (execution_id) REFERENCES public.execution_events(id) ON DELETE CASCADE;


--
-- Name: approvals approvals_approver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_approver_id_fkey FOREIGN KEY (approver_id) REFERENCES public.personnel(id);


--
-- Name: approvals approvals_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.approvals
    ADD CONSTRAINT approvals_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: duty_assignments duty_assignments_firearm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_firearm_id_fkey FOREIGN KEY (firearm_id) REFERENCES public.firearms(id);


--
-- Name: duty_assignments duty_assignments_personnel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_personnel_id_fkey FOREIGN KEY (personnel_id) REFERENCES public.personnel(id);


--
-- Name: duty_assignments duty_assignments_post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_post_id_fkey FOREIGN KEY (post_id) REFERENCES public.duty_posts(id);


--
-- Name: duty_assignments duty_assignments_roster_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_roster_id_fkey FOREIGN KEY (roster_id) REFERENCES public.duty_rosters(id) ON DELETE CASCADE;


--
-- Name: duty_assignments duty_assignments_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.duty_shifts(id);


--
-- Name: duty_assignments duty_assignments_sign_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_assignments
    ADD CONSTRAINT duty_assignments_sign_by_fkey FOREIGN KEY (sign_by) REFERENCES public.personnel(id);


--
-- Name: duty_requests duty_requests_assignment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_requests
    ADD CONSTRAINT duty_requests_assignment_id_fkey FOREIGN KEY (assignment_id) REFERENCES public.duty_assignments(id) ON DELETE CASCADE;


--
-- Name: duty_requests duty_requests_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_requests
    ADD CONSTRAINT duty_requests_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: duty_rosters duty_rosters_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.duty_rosters
    ADD CONSTRAINT duty_rosters_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.personnel(id);


--
-- Name: execution_events execution_events_executed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_executed_by_fkey FOREIGN KEY (executed_by) REFERENCES public.personnel(id);


--
-- Name: execution_events execution_events_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.execution_events
    ADD CONSTRAINT execution_events_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: firearm_status_changes firearm_status_changes_execution_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearm_status_changes
    ADD CONSTRAINT firearm_status_changes_execution_id_fkey FOREIGN KEY (execution_id) REFERENCES public.execution_events(id) ON DELETE CASCADE;


--
-- Name: firearm_status_changes firearm_status_changes_firearm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearm_status_changes
    ADD CONSTRAINT firearm_status_changes_firearm_id_fkey FOREIGN KEY (firearm_id) REFERENCES public.firearms(id);


--
-- Name: firearms firearms_owner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.firearms
    ADD CONSTRAINT firearms_owner_id_fkey FOREIGN KEY (owner_id) REFERENCES public.personnel(id);


--
-- Name: fp_templates fp_templates_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.fp_templates
    ADD CONSTRAINT fp_templates_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.personnel(id) ON DELETE CASCADE;


--
-- Name: request_items request_items_ammo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items
    ADD CONSTRAINT request_items_ammo_id_fkey FOREIGN KEY (ammo_id) REFERENCES public.ammunition(id);


--
-- Name: request_items request_items_firearm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items
    ADD CONSTRAINT request_items_firearm_id_fkey FOREIGN KEY (firearm_id) REFERENCES public.firearms(id);


--
-- Name: request_items request_items_request_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.request_items
    ADD CONSTRAINT request_items_request_id_fkey FOREIGN KEY (request_id) REFERENCES public.requests(id) ON DELETE CASCADE;


--
-- Name: requests requests_requester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.requests
    ADD CONSTRAINT requests_requester_id_fkey FOREIGN KEY (requester_id) REFERENCES public.personnel(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO anonymous;


--
-- Name: SCHEMA pgrst; Type: ACL; Schema: -; Owner: neondb_owner
--

GRANT USAGE ON SCHEMA pgrst TO authenticator;


--
-- Name: FUNCTION pre_config(); Type: ACL; Schema: pgrst; Owner: neondb_owner
--

GRANT ALL ON FUNCTION pgrst.pre_config() TO authenticator;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict GzFIkg3HMPpW1Xc1t6MR2beMqObWuTPC5jQdySIf3DWqTqWXN23OV2VpOg4LKdQ

